.nav-link:hover{
    color:#3f3f3f !important;
}
.nav-link:active{
    color:#3f3f3f !important;
}
.nav-link:focus{
    color:#3f3f3f !important;
}
.active {
    color:#3f3f3f !important;
    font-weight: 500;
}